---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="./favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog Preview Card</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
